*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Navbar style */

#Navbar{
  /* border: 2px solid blue; */
  display: flex;
  height: 8rem;
  box-shadow: 10px 0px 8px rgba(66, 66, 66, 0.824);
}

#logo {
  /* border: 2px solid red; */
  position: relative;
  left: 4rem;
  top: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2.5rem;
  color:#005850;
}

#logo img {
  height: 105px;
  width: 105px;
  border-radius: 70px;
}

#menu_items ul{
  /* border: 2px solid black; */
  display: flex;
  width: 27rem;
  justify-content: space-between;
  padding:0;
  position: relative;
  top: 4rem;
  left: 13rem;
}

#menu_items ul li{
  list-style: none;
  padding: 5px;
}

#menu_items ul li:hover{
  background-color: #00c2b285;
  border-radius: 8px;
}

#menu_items ul li a{
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  color: #414143;
  font-size: 1rem;
  font-weight: bolder;
}

#login_btn{
  position: absolute;
  right: 4rem;
  top: 3rem;
}

#login_btn button{
  border: none;
  border-radius: 4px;
  background-color: #005850;
  height: 35px;
}

#login_btn button a{
  text-decoration: none;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 14px;
}

/* End of Navbar style */

/* News component style */
.Newsrow{
  /* border: 2px solid black; */
  display: flex;
  width: 80rem;
  margin:auto;
  position:relative;
  top: 1rem;
}

.col-md-4 {
  flex: 0 0 auto;
  width: 34.833333%;
}

.My_btn_style{
  background-color: #005850;
  color: white;
}

/* End of News component style */
